<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JoinFS_DotNet.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JoinFS_DotNet.My.MySettings>
            <setting name="Simulator" serializeAs="String">
                <value>P3Dv5</value>
            </setting>
            <setting name="SimLatitude" serializeAs="String">
                <value />
            </setting>
            <setting name="SimLongitude" serializeAs="String">
                <value />
            </setting>
            <setting name="RandomID" serializeAs="String">
                <value />
            </setting>
            <setting name="SimAltitude" serializeAs="String">
                <value />
            </setting>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferedAirline" serializeAs="String">
                <value>VirginXL</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SimPlaneTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="EnhancedLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimHeading" serializeAs="String">
                <value />
            </setting>
            <setting name="SimBriefUID" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LowBandwidth" serializeAs="String">
                <value>Normal</value>
            </setting>
        </JoinFS_DotNet.My.MySettings>
    </userSettings>
</configuration>
